*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #fff8f3;
  font-family: "Comfortaa", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.button {
  padding: 21px 45px 19px 45px;
  background-color: #ffbd59;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.container {
  box-sizing: content-box;
  max-width: 1162px;
  margin: 0 auto;
  padding: 0 10px;
}

.section {
  margin-bottom: 150px;
}

.section__title {
  margin-bottom: 15px;
  font-family: "Yeseva One", serif;
  font-size: 40px;
  font-weight: 400;
}

.section__title_top {
  font-size: 30px;
  margin-bottom: 15px;
}

.section__inner {
  display: grid;
  grid-template-columns: minmax(300px, 372px) minmax(auto, 770px);
  gap: 0 20px;
}

.section__content {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 375px));
  gap: 50px 20px;
}

.section_decor {
  position: relative;
  padding-bottom: 80px;
}

.section_decor::before {
  content: "";
  position: absolute;
  left: -20px;
  bottom: 0;
  width: 22px;
  height: 30px;
  background-image: url(../images/section-decor.png);
}

.section_decor::after {
  content: "";
  position: absolute;
  left: 2px;
  bottom: 13px;
  width: 1000%;
  height: 1px;
  background-color: #7b6152;
}

.section__card {
  max-width: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.section__card-img {
  max-width: 100%;
  margin-bottom: 8px;
}

.section__card-price {
  margin-bottom: 12px;
  font-family: "Yeseva One", serif;
  font-size: 16px;
  font-weight: 400;
}

.section__card-title {
  margin-bottom: 16px;
  font-family: "Yeseva One", serif;
  font-size: 16px;
  font-weight: 400;
}

.section__card-text {
  margin-bottom: 27px;
  font-size: 12px;
}

.section__card .button {
  margin-top: auto;
}

.main {
  overflow: hidden;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.menu__btn span {
  height: 1px;
  width: 100%;
  background-color: #7b6152;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
}

.phone::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -23px;
  width: 20px;
  height: 20px;
  background-image: url(../images/phone.svg);
}

.top {
  padding-top: 40px;
}

.top__inner {
  position: relative;
}

.top__content {
  position: relative;
  width: 372px;
  padding: 150px 0 250px;
  z-index: 2;
}

.top__text {
  margin-bottom: 48px;
}

.top__picture {
  position: absolute;
  top: 0;
  left: 240px;
}

.about {
  padding: 50px 0;
  background-color: #a5978e;
  color: #fafafa;
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__content {
  min-width: 372px;
}

.about__text {
  margin-bottom: 15px;
}

.about__list {
  flex-basis: 930px;
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 0 0 48px 114px;
}

.about__list::before {
  left: 0;
}

.about__list::after {
  left: 22px;
}

.about__item-img {
  margin-bottom: 10px;
}

.about__item-text {
  font-size: 11px;
}

.steps__list {
  grid-template-columns: repeat(2, auto);
  gap: 70px 20px;
  counter-reset: number;
}

.steps__item {
  position: relative;
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.steps__item::before {
  counter-increment: number;
  content: "0" counter(number);
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: "Yeseva One", serif;
  color: #bea495;
  font-size: 30px;
}

.steps__item:nth-child(n + 10)::before {
  content: counter(number);
}

.steps__item_even::before {
  left: auto;
  right: 0;
}

.steps__item-text {
  flex-basis: 174px;
  padding-bottom: 40px;
}

.courses__box {
  position: relative;
  margin-bottom: 15px;
  font-family: "Yeseva One", serif;
  color: #fff;
  font-size: 11px;
}

.courses__box-title,
.courses__box-time,
.courses__box-price {
  position: absolute;
  background-color: #bea495;
}

.courses__box-title {
  top: 45%;
  left: -2px;
  padding: 15px 15px 15px 10px;
}

.courses__box-time {
  top: 60%;
  left: -2px;
  padding: 7px 15px 7px 10px;
}

.courses__box-time span {
  font-family: "Comfortaa", sans-serif;
  font-size: 10px;
}

.courses__box-price {
  right: -8px;
  bottom: -3px;
  padding: 19px 10px 18px 10px;
}

.courses__button {
  padding: 13px 16px;
}

.footer {
  padding: 40px 0 35px;
  background-color: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  width: 230px;
  display: flex;
  flex-direction: column;
}

.email {
  margin: 17px 0;
}

.footer__socials {
  display: flex;
  gap: 15px;
}

@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
  .section__inner {
    grid-template-columns: minmax(200px, 300px) minmax(auto, 636px);
    gap: 0 24px;
  }
  .section__content {
    grid-template-columns: repeat(2, minmax(190px, 300px));
    gap: 65px 35px;
  }
  .section__text {
    font-size: 10px;
  }
  .section_decor {
    padding-bottom: 60px;
  }
  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }
  .top__text {
    margin-bottom: 30px;
  }
  .top__picture {
    left: 300px;
  }
  .top__img {
    width: 655px;
  }
  .about__content {
    min-width: 320px;
  }
  .about__list {
    padding-left: 20px;
  }
  .steps__list {
    grid-template-columns: repeat(2, 300px);
    gap: 35px;
  }
  .steps__item {
    gap: 0 30px;
  }
  .steps__item-img {
    max-width: 130px;
    object-fit: cover;
  }
  .courses__box {
    font-size: 10px;
  }
  .courses__box-title {
    top: 40%;
    padding: 12px 15px 12px 10px;
  }
  .courses__box-time {
    padding: 7px 15px 7px 10px;
  }
}

@media (max-width: 900px) {
  .steps__list {
    grid-template-columns: repeat(2, 205px);
    justify-content: center;
    gap: 25px 35px;
  }
  .steps__item {
    gap: 0 20px;
  }
  .steps__item::before {
    font-size: 20px;
  }
  .steps__item-img {
    max-width: 85px;
  }
  .steps__item-text {
    font-size: 8px;
  }
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contacts {
    width: 100%;
    padding-top: 15px;
    text-align: center;
  }
  .footer__socials {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 640px;
  }
  .button {
    padding: 15px 30px 13px 30px;
  }
  .button_fz_sm {
    font-size: 12px;
  }
  .section__title {
    margin-bottom: 20px;
    font-size: 15px;
  }
  .section__title_top {
    font-size: 20px;
  }
  .section__inner {
    grid-template-columns: minmax(180px, 200px) minmax(auto, 405px);
    gap: 0 35px;
  }
  .section__content {
    grid-template-columns: repeat(2, minmax(142px, 190px));
    gap: 30px;
  }
  .section__card {
    max-width: 189px;
  }
  .section__card-img {
    margin-bottom: 6px;
  }
  .section__card-price {
    margin-bottom: 7px;
    font-size: 12px;
  }
  .section__card-title {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .section__card-text {
    margin-bottom: 18px;
    font-size: 8px;
  }
  .phone::before {
    top: -2px;
    left: -16px;
    width: 14px;
    height: 14px;
    background-size: cover;
  }
  .top__content {
    width: 230px;
  }
  .top__text {
    margin-bottom: 20px;
  }
  .top__picture {
    left: 180px;
  }
  .about__content {
    min-width: 200px;
  }
  .about__list {
    gap: 0 10px;
    margin-left: 12px;
    margin-bottom: 33px;
  }
  .about__item-img {
    margin-bottom: 6px;
  }
  .about__item-img_1,
  .about__item-img_3 {
    width: 120px;
  }
  .about__item-img_2 {
    width: 190px;
  }
  .about__item-text {
    font-size: 6px;
  }
  .courses__box {
    font-size: 8px;
  }
  .courses__box-title {
    padding: 8px 11px 8px 6px;
  }
  .courses__box-time {
    padding: 7px 15px 7px 10px;
  }
  .courses__box-price {
    padding: 15px 10px 14px 10px;
  }
  .courses__button {
    font-size: 8px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 10px;
  }
  .section {
    margin-bottom: 50px;
  }
  .section__inner {
    grid-template-columns: auto;
    justify-items: center;
    row-gap: 30px;
  }
  .section__descr {
    max-width: 300px;
    text-align: center;
  }
  .header {
    position: relative;
  }
  .header__menu {
    order: 1;
  }
  .menu__btn {
    display: flex;
  }
  .header__menu-list {
    position: absolute;
    right: 0;
    width: 153px;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    background-color: #7b6152;
    color: #fff8f3;
    opacity: 0.1;
    transform: translateY(-200%);
    transition: all 0.3s ease;
    z-index: 5;
  }
  .menu_open {
    top: calc(100%);
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 500px) {
  .section__card-text_lg {
    font-size: 10px;
  }
  .courses__content {
    grid-template-columns: auto;
  }
  .courses__card {
    max-width: 255px;
  }
  .courses__box {
    font-size: 10px;
  }
  .courses__box-title {
    top: 45%;
    padding: 15px 15px 15px 10px;
  }
  .courses__box-time {
    padding: 7px 15px 7px 10px;
  }
  .courses__box-price {
    padding: 19px 10px 18px 10px;
  }
  .courses__card-text {
    max-width: 220px;
    font-size: 10px;
  }
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }
  .footer__menu-list {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .button {
    padding: 12px 23px 10px 23px;
    font-size: 10px;
  }
  .section__title_top {
    margin-bottom: 15px;
    font-size: 15px;
  }
  .section_decor::before {
    left: 0;
  }
  .section_decor::after {
    left: 22px;
  }
  .top {
    padding-top: 30px;
  }
  .top__content {
    width: 180px;
  }
  .top__text {
    margin-bottom: 15px;
    font-size: 8px;
  }
  .top__img {
    width: 309px;
    left: 167px;
  }
  .about__inner {
    align-items: flex-end;
  }
  .about__content {
    min-width: 170px;
  }
  .about__list {
    align-items: flex-end;
    gap: 0 5px;
    margin: 0 0 8px 0;
    padding-left: 10px;
  }
  .about__item-img_1,
  .about__item-img_3 {
    width: 80px;
  }
  .about__item-img_2 {
    width: 140px;
  }
  .about__item-text {
    display: none;
  }
  .steps__list {
    gap: 25px 40px;
  }
}

@media (max-width: 380px) {
  .steps__list {
    grid-template-columns: repeat(2, 155px);
    gap: 20px 25px;
  }
  .steps__item-img {
    max-width: 66px;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 8px;
  }
  .button_fz_sm {
    font-size: 8px;
  }
  .section__title {
    margin-bottom: 10px;
  }
  .section__title_top {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .section__inner {
    row-gap: 25px;
  }
  .section__content {
    gap: 40px 15px;
  }
  .section__descr {
    max-width: 205px;
  }
  .section__card-img {
    margin-bottom: 5px;
  }
  .section__card-price {
    margin-bottom: 5px;
    font-size: 10px;
  }
  .section__card-title {
    margin-bottom: 7px;
    font-size: 10px;
  }
  .section__card-text {
    margin-bottom: 16px;
    font-size: 6px;
  }
  .top__picture {
    left: auto;
    right: 0;
  }
  .top__img {
    width: 140px;
  }
  .top__content {
    width: 200px;
    padding: 20px 0 0;
  }
  .top__text {
    font-size: 10px;
  }
  .about {
    padding: 25px 0 10px 0;
  }
  .about__content {
    min-width: 233px;
  }
  .about__list {
    gap: 0 20px;
    margin-left: 12px;
    padding: 0 0 30px 12px;
  }
  .about__item-img_2 {
    display: none;
  }
  .products__descr {
    max-width: 235px;
  }
  .courses__box {
    margin-bottom: 25px;
  }
  .section__card-text_lg {
    font-size: 10px;
  }
}
