html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Comfortaa", sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.section-title {
  font-family: "Yeseva One", serif;
}

.main,
.header {
  background-color: #fff8f3;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}

.menu__btn {
  display: none;
  width: 30px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}

.menu__btn span {
  height: 1px;
  width: 100%;
  background-color: #7b6152;
}

.menu__list {
  display: flex;
  gap: 20px;
}

.menu__list-link {
  text-transform: uppercase;
}

.phone {
  position: relative;
}

.phone::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -23px;
  width: 20px;
  height: 20px;
  background-image: url(../images/phone.svg);
}

.top {
  padding: 40px 0 150px;
  overflow: hidden;
}

.top__inner {
  position: relative;
}

.top__content {
  position: relative;
  width: 370px;
  padding: 150px 0 250px;
  z-index: 2;
}

.top__title {
  font-family: "Yeseva One", serif;
  font-size: 30px;
  margin-bottom: 15px;
}

.top__text {
  margin-bottom: 48px;
}

.top__btn {
  padding: 18px 54px;
  font-family: "Comfortaa", sans-serif;
  background-color: #ffbd59;
  font-size: 14px;
  font-weight: 600;
}

.top__picture {
  position: absolute;
  top: 0;
  left: 240px;
}

.about {
  overflow: hidden;
  padding: 50px 0;
  background-color: #a5978e;
  color: #fafafa;
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__content {
  min-width: 370px;
}

.about__title {
  margin-bottom: 15px;
  font-size: 40px;
}

.about__text {
  margin-bottom: 15px;
}

.about__list {
  position: relative;
  flex-basis: 930px;
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding: 0 0 48px 114px;
}

.about__list::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 22px;
  height: 30px;
  background-image: url(../images/about-decor.png);
}

.about__list::after {
  content: "";
  position: absolute;
  left: 22px;
  bottom: 13px;
  width: 1000%;
  height: 1px;
  background-color: #7b6152;
}

.about__item-img {
  margin-bottom: 10px;
}

.about__item-text {
  font-size: 11px;
}

.footer {
  padding: 40px 0 35px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contacts {
  width: 230px;
  display: flex;
  flex-direction: column;
}

.email {
  margin: 17px 0;
}

.footer__socials {
  display: flex;
  gap: 15px;
}

@media (max-width: 1000px) {
  .container {
    padding: 0 20px;
  }
  .top__content {
    width: 333px;
    padding: 95px 0 70px;
  }
  .top__text {
    margin-bottom: 30px;
  }
  .top__picture {
    left: 300px;
  }
  .top__img {
    width: 655px;
  }
  .about__content {
    min-width: 300px;
  }
  .about__list {
    padding-left: 20px;
  }
}

@media (max-width: 900px) {
  .footer__inner {
    flex-wrap: wrap;
  }
  .footer__contacts {
    width: 100%;
    padding-top: 15px;
    text-align: center;
  }
  .footer__socials {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 10px;
  }
  .container {
    max-width: 640px;
  }
  .section-title {
    font-size: 15px;
  }
  .phone::before {
    top: -2px;
    left: -16px;
    width: 14px;
    height: 14px;
    background-size: cover;
  }
  .top__content {
    width: 230px;
  }
  .top__title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .top__text {
    margin-bottom: 20px;
  }
  .top__btn {
    padding: 15px 30px;
  }
  .top__picture {
    left: 180px;
  }
  .about__content {
    min-width: 200px;
  }
  .about__title {
    margin-bottom: 20px;
  }
  .about__list {
    gap: 0 10px;
    margin-left: 12px;
    margin-bottom: 33px;
  }
  .about__item-img {
    margin-bottom: 6px;
  }
  .about__item-img_1,
  .about__item-img_3 {
    width: 120px;
  }
  .about__item-img_2 {
    width: 190px;
  }
  .about__item-text {
    font-size: 6px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 10px;
  }
  .header {
    position: relative;
  }
  .header__menu {
    order: 1;
  }
  .menu__btn {
    display: flex;
  }
  .header__menu-list {
    position: absolute;
    right: 0;
    width: 153px;
    flex-direction: column;
    gap: 20px 0;
    padding: 25px 35px 25px 45px;
    background-color: #7b6152;
    color: #fff8f3;
    opacity: 0.1;
    transform: translateY(-200%);
    transition: all 0.3s ease;
    z-index: 5;
  }
  .menu_open {
    top: calc(100%);
    opacity: 1;
    transform: translateY(0%);
  }
}

@media (max-width: 500px) {
  .footer {
    padding: 50px 0;
    font-size: 14px;
  }
  .footer__inner {
    flex-direction: column;
  }
  .footer__menu {
    padding: 50px 0;
    text-align: center;
  }
  .footer__menu-list {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .top {
    padding: 30px 0 50px;
  }
  .top__content {
    width: 180px;
  }
  .top__title {
    margin-bottom: 15px;
    font-size: 15px;
  }
  .top__text {
    margin-bottom: 15px;
    font-size: 8px;
  }
  .top__btn {
    padding: 11px 23px;
    font-size: 10px;
  }
  .top__img {
    width: 309px;
    left: 167px;
  }
  .about__inner {
    align-items: flex-end;
  }
  .about__content {
    min-width: 170px;
  }
  .about__list {
    align-items: flex-end;
    gap: 0 5px;
    margin: 0 0 8px 0;
    padding-left: 10px;
  }
  .about__item-img_1,
  .about__item-img_3 {
    width: 80px;
  }
  .about__item-img_2 {
    width: 140px;
  }
  .about__item-text {
    display: none;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 8px;
  }
  .section-title {
    margin-bottom: 10px;
  }
  .top__picture {
    left: auto;
    right: 0;
  }
  .top__img {
    width: 140px;
  }
  .top__content {
    width: 200px;
    padding: 20px 0 0;
  }
  .top__title {
    font-size: 18px;
  }
  .top__text {
    font-size: 10px;
  }
  .about {
    padding: 25px 0 10px 0;
  }
  .about__content {
    min-width: 233px;
  }
  .about__list {
    gap: 0 20px;
    margin-left: 12px;
    padding: 0 0 30px 12px;
  }
  .about__item-img_2 {
    display: none;
  }
}
